@tailwind base;
@tailwind components;
@tailwind utilities;



.background-gradient {
    background: radial-gradient(circle at top center,
            hsla(222, 80%, 60%, 0.5) 0%,
            hsla(222, 0%, 0%, 0) 50%,
            hsla(222, 0%, 0%, 0) 100%);
}

.signal-line {
    --rotation: 90deg;
    @apply h-[20px] w-[1.5px] bg-gradient-to-t md:h-[1.5px] md:w-[30px] lg:w-[40px] xl:w-[50px];
    background-color: hsla(0, 0%, 100%, 0.1);
    background-image: linear-gradient(
      var(--rotation),
      rgba(255, 255, 255, 0) 50%,
      #bfdbfe 50%,
      rgba(255, 255, 255, 0) 70%
    );
    background-size: 400% 400%;
  }
  
  @media (max-width: 767px) {
    .signal-line {
      --rotation: 0deg;
    }
  }